/* Global css */
*{
	font-family: "Microsoft JhengHei", sans-serif;
	margin:0;
	padding:0;
}

body{
	font-size: 16px;
	margin:0;
	padding-bottom: 40px;
	color: #5a5a5a;
}

body h1{
	text-align: center;
}

.welcome-msg{
	margin-top: 150px;
}

/* navigation bar */
.ngbar{
	margin:30px 50px 50px 50px;
	width:auto;
	height:auto;
}

.ngbar-items {
	margin:0;
	padding:0 16px 16px 0;
	height:67px;
}

.ngbar-items ul {
	list-style:none;
	height:67px;
	border-left:1px solid #fff;
	float: right;
}
.ngbar-items ul li {
	margin:0;
	padding:0;
	float:left;
	border-right:1px solid #fff;
}
.ngbar-items ul li a {
	display:block;
	margin:0;
	padding:14px 0 31px; width:107px;
	color:#888;
	font-size:13px;
	text-align:center;
}

.ngbar-items ul li.active a, .ngbar-items ul li a:hover {
	color:#fff;
	background:#5F9EA0;
}

.ngbar-items p{
	float:left;
	display:block;
	margin:0;
	padding:14px 0 31px; width:107px;
	color:#888;
	font-weight: bold;
}

.header {
	width: 350px;
	margin: 50px auto 0px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #5F9EA0;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

form, .content {
  width: 350px;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
	text-align: center;
}

.input-group {
	margin: 10px 0px 10px 0px;
}

.input-group label {
	display: block;
	text-align: left;
	margin: 3px;
}
.input-group input {
	height: 30px;
	width: 300px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
}

footer p{
	text-align: center;
	margin-top: 40px;
}

/* index css */
.address{
	width: 350px;
  margin: 0px auto;
	height:auto;
  padding: 20px;
  border: 1px solid #B0C4DE;
  background: white;
  border-radius: 0px 0px 10px 10px;
	text-align: center;
}

.address button {
	margin: 25px;
	padding: 25px;
	background: #7EBCE6;
}

.address .btn{
	margin: 10px 20px;
	padding: 10px 20px;
}

.address span {
	text-align: center;
	color:#000000;
	font:bold 24px Arial, Helvetica, sans-serif;
}

.time ul.schedule button {
	margin: 5px;
	padding:10px 100px;
	background: #66ffff;
	font:bold 24px Arial, Helvetica, sans-serif;
}

ul.schedule {
	list-style-type: none;
	margin:40px;
	width:auto;
	height:auto;
	line-height:10px;
	text-align:center;
}

.countdown h1{
	position: relative;
	text-align: center;
	font-size: 50px;
	color:black;
}

.info h2{
	position:relative;
	text-align:center;
}
.info strong {
	color: red;
	font-size: 30px;
}

.chatroom {
	margin-left: 50px;
	margin-left: 50px;
	float: left;
}


.driver h3{
	text-align: center;
}

.driver .checklist{
	width: 600px;
	margin: 0 auto;
}
.driver .checklist .header{
	width: 100%;
	margin: 20px 0 0 0;
	height: 100px;
	line-height: 100px;
	padding: 0;

}
.driver .checklist ul{
	border: 1px solid;
	width: 100%;
	border-radius: 0 0 1px 1px;
}



/* each person */
.driver .checklist ul li{
	height: 70px;
	border-bottom:  1px solid #4f8e8f;
	list-style: none;
	width: 100%;
}
.driver .checklist ul li h3{
	width: 50px;
	height: 100%;
	text-align: center;
	line-height: 70px;
	font-family: Arial;
	font-weight: normal;
	float: left;
}
.driver .checklist ul li h4{
	width: 300px;
	height: 100%;
	line-height: 70px;
	font-family: Arial;
	font-weight: normal;
	float: left;
	padding-left: 20px;
}
.driver .checklist ul li .tick{
	width: 50px;
	height: 100%;
	text-align: center;
	line-height: 70px;
	font-family: Arial;
	font-weight: normal;
	float: right;
	cursor: pointer;
}
.driver .checklist ul li .icon
{
	width: 40px;
	height: 100%;
	float: left;
}
.driver .checklist ul li .icon img{
	width: 100%;
	height: 40px;
	margin-top:15px;

}


.msg{
	width: 100%;
	margin-top:20px;
	
	

}
.msg .wrap{
	width: 100px;
	height: 100px;
	margin: auto; 
	position: relative;
	cursor: pointer;
}
.msg img{
	width: 100%;
	height: 100%;	

}
.msg h1{
	border-radius: 20px;
	background-color: #e91e23;
	height: 8px;
	font-size: 20px;
	font-weight: normal;
	line-height: 9px;
	color: white;
	padding:10px;
	position: absolute;
	left:80px;
	top: -10px;

}

img,span,li{
	display: block;
}
p{
	display: inline-block;
}

#back_btn{
	font-size: 20px;
	background-color: white;
	border: none;
	position: absolute;
	top: 30px;
	left: 20px;
	text-decoration: none;
	color: black;


}
#back_btn:hover{
	color: #ef262b;
	cursor: pointer;

}
.right{
	float: right;
}
.left{
	float: left;
}
.container{
		height: auto;
		width: 600px;
		margin:0 auto;
		border-radius: 15px;
		position: relative;
}
.navi{
	height: 100px;
	padding-top: 20px;

}
.navi h1{
	width: 100%;
	text-align: center;

}
.window{
	border: 1px solid;
}

.user_queue{
	height: 500px;
	width: 100%;
	border-top:1px solid;
	border-bottom:1px solid;
	overflow: scroll;
	background-color: #f0f0f0;
}
.user_queue li{
	width: 100%;
	/*height: 100px;*/
	margin: 10px auto;
	display: inline-block;
}


.user_queue .box-right .icon,.user_queue .box-right .msg{
	float: right;
}
.user_queue .box-left .icon,.user_queue .box-left .msg{
	float: left;
}
.user_queue .box-right .msg p{
	background-color: #92e749;
}
.user_queue .box-left .triangle{
	position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
    top: 35px;
    left: -5px;
}
.user_queue .box-right .triangle{
	position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    transform: rotate(45deg);
    top: 15px;
    left: 345px;

    background-color: #92e749;
}


/*icon*/
.user_queue li .icon{
	width: 30px;
	height: 100%;
	margin: 0 10px;
}
.user_queue li .icon img{
	width: 30px;
	height: 30px;
	margin: auto;

}

/*message*/
.user_queue li .msg{
	width: 350px;
	height: 100%;
	position: relative;


}

.user_queue li .msg span{
	color: #a5a5a5;
	font-size: 13px;
	font-weight: normal;
	font-family: Aria;
}

.user_queue li .msg p{
	width: auto;
	border-radius: 6px;
	padding: 15px 10px 10px 10px ;
	background-color: white;
	font-size:  15px;
	font-family: Aira;
}










/* input box */

.input{
	height: 120px;
	padding: 10px;
}
.input textarea{
	height: 100%;
	overflow: scroll;
	width: 530px;
	border: 0;
	resize: none;
}
.input textarea:focus{
	outline: none !important;
	border: none;

}
.input button{
	width: 40px;
	height: 40px;
	border-radius: 25px;
	border: 2px solid red;
	background-color: white;
	float: right;
	margin-top:60px;

}
.input button:focus{
	float: top;
}


